.line{
    display: flex;
    gap: 5px;
}

.tile{
    width: 45px;
    height: 45px;
    border:  1px solid white;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 5px;
}

.correct{
    background-color: rgb(0, 180, 0);
}

.close{
    background-color: rgb(219, 187, 6);
}

.incorrect{
    background-color: gray;
}